body{
    background-color:goldenrod;
    font-size: 26px;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction:column;  
    vertical-align: middle; 
    
}

#pageCover{
    border: 4px solid blue;
    border-radius: 32px;
    max-width: 500px;
    max-height:540px;
    padding: 5px 5px 5px 5px;
    background-color:burlywood;
    animation-duration: 20ms;
    box-shadow:25px,10px;
    display:flex;
    justify-content:in;
    flex-direction:column;
   
}

#questionDiv {
    margin: 24px;
    border-top: 1px solid rgb(196, 216, 12);
    position: relative;
}

#startchronometer {
    background-color:rgb(226, 12, 12);
    padding:10px 28px;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

#clear {
    color:antiquewhite;
    padding: 20px;
    font-size: 32px;
    text-align: inline;
    background-color:rgb(226, 12, 12);
    top: 32%;
    left: 65%;
    width: max-content;
    text-align: left;
}

#back{
    color:antiquewhite;
    padding: 20px;
    font-size: 32px;
    text-align: inline;
    background-color:rgb(226, 12, 12);
    top: 32%;
    left: 65%;
    width: max-content;
    text-align: left;
    border-color: red;
}

.button :hover{
  display: inline-block;
}

button{
    border-radius: 70px;
    box-shadow: 2px 2px 2px 2px rgb(233, 230, 230);
    
}

.h1 {
    text-align: center;
    text-overflow: ellipsis;
    text-transform:none;
}

li{
    color:black;
    font-size: 26px;
    background-color:cornflowerblue;
    padding-left: 20px;
    margin-top: 15px;
    padding: 6px;
    list-style-type:lower-alpha;

}

#createDiv{
    margin-top: 25px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 800px;
    }

    #pageCover{
        position:absolute;
        left:20%;
    }

    a{
        margin-left: 30%;
    }
        #back{
            position: relative;
            left: 30%;
        }
        #clear{
            position: relative;
            right: 50%;
        }
}

#p {
    text-align: center;
    text-decoration-color: aquamarine;
}
textarea{
    width: 82%;
    margin: 20px;
}

label {
    margin-right: 10px;

}
input{
    border: 2px solid cornsilk;
    width: 60%;
    margin-bottom: 10px;
}

#currentTimeframe{
    float:center;
    align-content:center;
    margin: 10px;
}

#Submit{
    color: antiquewhite;
    font-size: 25px;
    margin-left: 20%;
    background-color: rgb(233, 15, 15);

}

a :hover{
    background-color: rgb(211, 0, 46);

}
@media screen and (max-width:540px){
    body{
        min-width: 540px;
        font-size: 26px;
    }
    #pageCover{
        position:absolute;
        left: 15px;
    }
        a{
            margin-left: 18%;
        }
}